circle.node {
  stroke: #5d99c6;
  stroke-width: 1.5px;
  z-index: -1;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  fill: none;
}

text.label {
  -webkit-user-select: none !important;
  /* Safari */
  -moz-user-select: none !important;
  /* Firefox */
  -ms-user-select: none !important;
  /* IE10+/Edge */
  user-select: none !important;
  /* Standard */
  cursor: pointer;
}


.label:hover {
  transition: all 1s;
  opacity: 1 !important;
  display: inline;
}

body {
  /* background-color: #000;
  color: #fff; */
  margin: 0;
}

h1 {
  text-align: center;
  padding: 0 0 20px 0;
  /* border-bottom: 1px solid #ccc; */
}

#controlls {
  position: fixed;
  top: 0;
  margin: 10px;
  background: rgba(255, 255, 255, 0);
  padding: 0 20px;
  width: 250px;
  border-radius: 5px;
}

.row {
  width: 100%;
  background: #7f7f7f;
  border-bottom: 1px solid #fff;
  padding: 0 20px;
  position: relative;
  left: -20px;
  line-height: 48px;
}

.row_section {
  width: 100%;
  line-height: 48px;
  background: #ababab;
  padding: 0 20px;
  position: relative;
  left: -20px;
}

/* #displayExtrasCv,
#displayExtrasSt {
  position: relative;
  left: 30px;
} */

/* radio */
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #f7f7f7;
}

.form-radio:checked {
  background-color: #f1f1f1;
}

label {
  font: 15px/1.7 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

/* checkbox */
.form-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.form-checkbox:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 11px;
  top: 7px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-checkbox:hover {
  background-color: #f7f7f7;
}

.form-checkbox:checked {
  background-color: #f1f1f1;
}

/* questions */
.question {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  background: #ededed;
  width: 100%;
  position: relative;
  left: -20px;
  font-family: Andale Mono;
  border-radius: 5px 5px 0 0;
}

/* input type number */
.quantity {
  position: relative;
  display: inline-flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity input {
  width: 45px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  border: 1px solid #eee;
  border-radius: 6px;
  background-color: #f1f1f1;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: relative;
  height: 42px;
}

.quantity-button {
  position: relative;
  cursor: pointer;
  border-left: 1px solid #eee;
  width: 20px;
  text-align: center;
  color: #333;
  font-size: 13px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 0;
  border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
  position: absolute;
  bottom: -1px;
  height: 50%;
}