circle.node {
  stroke: #5d99c6;
  stroke-width: 1.5px;
  z-index: -1;
}

#show {
  position: absolute;
  top: 0;
  left: 217px;
  border: 1px solid #42A5F5;
  height: 79px;
  -webkit-appearance: none;
  color: #fff;
  background: #42A5F5;
  border-radius: 0 25px 25px 0;
}

path{
	opacity: 0.4;
	stroke-width: 0px;
    pointer-events: none;

}

#show:hover {
  background: #3789cc;
  border: 1px solid #3789cc;
}

#cut_container {
  position: absolute;
  top: 0;
  border: 1px solid #9E9E9E;
  border-radius: 0;
  height: 79px;
  -webkit-appearance: none;
  color: #fff;
  background: #9E9E9E;
  padding: 11px;
  margin: 0;
}

#cut_container:hover {
  background: #888888;
  border: 1px solid #888888;
}

#centrality_container {
  position: absolute;
  top: 0;
  left: 115px;
  border: 1px solid #757575;
  border-radius: 0;
  -webkit-appearance: none;
  height: 79px;
  color: #fff;
  padding: 7px;
  background: #757575;
}

#centrality_container:hover {
  background: #6f6f6f;
  border: 1px solid #6f6f6f;
}

line.link {
  stroke: #52626f;
  stroke-opacity: .6;
}

.POSTag{
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
  z-index: 100;
}

.label {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

body {
  background-color: #000;
  color: #fff;
  margin: 0;
}

#chart {
  position: relative;
  top: -25px;
}

h1 {
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid #ccc;
}

.box {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: none;
  position: relative;
  top: 4px;
  margin: 0 5px;
  border-radius: 20px;
}

.boxContainer {
  display: inline-block;
  margin: 0 5px;
}

.legend {
  margin: 10px;
  padding: 15px;
  border: 1px solid;
  background: rgba(255, 255, 255, 0.86);
  color: #000;
  position: absolute;
  top: 70px;
  z-index: 20;
  border-radius: 10px;
  display: none;
}

.showlegend {
  display: inline;
  position: absolute;
  top: 59px;
  z-index: 21;
  right: 0;
}

@media only screen and (max-width: 768px) {
  h1 {
    opacity: 0;
  }
  #cut_container {
    width: 35%;
  }
  #centrality_container {
    width: 35%;
    left: 35%;
  }
  #show {
    width: 30%;
    left: 70%;
    border-radius: 0;
  }
  #show::before {
    content: '';
    position: absolute;
    top: 43px;
    right: -2px;
    border-bottom: 35px solid black;
    border-left: 35px solid #42A5F5;
    width: 0;
  }
}
